@font-face {
    font-family: "Delius";
    src: url('assets/Delius_Unicase/DeliusUnicase-Regular.ttf') format(TrueType);
}
@font-face {
    font-family: "Montserrat";
    src: url('assets/Montserrat_Alternates/MontserratAlternates-Regular.ttf') format(TrueType);
}

* {
    font-family: "Montserrat";
    margin: 0;
    text-shadow: 1px 1px 6px black;
}
header {
    background-color: rgb(241, 100, 234);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    box-shadow: 0px 2px 35px 2px;
}
h1 {
    margin-left: 1rem;
    font-family: "Delius";
}
h1 > a {
    text-decoration: none;
    color: aliceblue;
}
header > nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
header > nav > button {
    width: 100%;
    height: 4rem;
    border: none;
    background-color: rgb(241, 100, 234);
}
header > nav > button:hover {
    background-color: rgb(223, 64, 196);
}
header > nav > button > a {
    text-decoration: none;
    color: white;
    font-size: x-large;
}

body {
   background-color: rgb(242, 189, 247); 
   display: flex;
   flex-direction: column;
   text-align: center;
}
p, h2 {
    margin-bottom: 2rem;
    margin-top: 3rem;
}

/* Styling the area of the slides */
#slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
    background-color: rgb(83, 83, 83);
    border: 3px solid rgb(250, 130, 210);
    border-radius: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: -10px -10px 2px rgba(0, 0, 0, 0.3);
}

.slide > img {
    width: 728px;
    /* margin: -75px 0 0 -100px; */
}

/* Style each of the sides 
  with a fixed width and height */
.slide {
    float: left;
    height: 500px;
    width: 728px;
    margin: -10px 0 0 0;
    /* overflow: hidden; */
}

/* Add animation to the slides */
.slide-wrapper {
    /* Calculate the total width on the
    basis of number of slides */
    width: calc(728px * 4);

    /* Specify the animation with the
    duration and speed */
    animation: slide 10s ease infinite;
}

/* Define the animation 
  for the slideshow */
@keyframes slide {

    /* Calculate the margin-left for 
    each of the slides */
    20% {
        margin-left: 0px;
    }

    40% {
        margin-left: calc(-728px * 1);
    }

    60% {
        margin-left: calc(-728px * 2);
    }

    80% {
        margin-left: calc(-728px * 3);
    }
}


@keyframes slidein {
    from {
        margin-left: -70%;
    }
    to {
        margin-left: 0%;
    }
}
.welcome-message {
    margin-bottom: 2rem;

}
.welcome-message > h1 {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 50px;
}
.welcome-container > p,
.welcome-container > h2 {
    float: right;
    animation-duration: 1s;
    animation-name: slidein;
}
.welcome-container,
.contact-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.welcome-container > p,
.contact-me-container > p {
    width: 60%;
    font-size: larger;   
    text-align: justify;
    margin: 1rem;
}

.banner-frame {
    background-color: rgb(141, 127, 97);
}
/* 
.banner-frame > img {
    width: 100%;
    margin: 0 0 0 0;
} */

footer {
    height: 25rem;
    background-color: rgb(34, 5, 5);
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    box-shadow: 0px 2px 35px 2px;
}
.footer-btn {
    background-color: transparent;
    border: none;
}
.icon {
    height: 55px;
}


/* CSS FOR DESKTOP VIEWING */
@media (min-width: 961px) {
    .banner-frame {
        height: 496px;
        overflow: hidden;
        background-color: rgb(141, 127, 97);
    }
    .banner-frame > img {
        width: 1500px;
        margin: -250px 0 0 0;
    }
}

/* CSS FOR TABLET VIEWING */
@media (max-width: 960px) {
    .banner-frame > img {
        height: 400px;
        margin: -50px 0 0 0;
    }
}

/* CSS FOR MOBILE VIEWING */
@media (max-width: 450px) {
    
    .banner-frame > img {
        height: 250px;
        margin: -50px 0 0 0;
    }

    #slideshow {
        align-items: center;
        width: 400px;
        height: 250px;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .slide > img,
    .slideshow-img {
        width: 400px;
        margin: -75px 0 0 0;
    }

    /* Style each of the sides 
    with a fixed width and height */
    .slide {
        float: left;
        width: 400px;
    }

    /* Add animation to the slides */
    .slide-wrapper {
        /* Calculate the total width on the
        basis of number of slides */
        width: calc(400px * 4);

        /* Specify the animation with the
        duration and speed */
        animation: slide 10s ease infinite;
    }   
    /* Define the animation 
  for the slideshow */
@keyframes slide {

    /* Calculate the margin-left for 
    each of the slides */
    20% {
        margin-left: 0px;
    }

    40% {
        margin-left: calc(-400px * 1);
    }

    60% {
        margin-left: calc(-400px * 2);
    }

    80% {
        margin-left: calc(-400px * 3);
    }
}
}