.pattern-cards-container {
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.pattern-card {
    width: 80%;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 1rem;
    
    box-shadow: 1px 1px 15px 2px black;
    text-align: center;
}

.pattern-card > img {
    width: 80%;
    border-radius: 15px;
    border: 2px solid rgb(163, 199, 163);
}

/* DESKTOP VIEWING */
@media (min-width: 961px) {
.pattern-card > img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
}

/* TABLET VIEWING */
@media (min-width: 961px) {
    .pattern-card {
        margin: 3rem;
    }
}


/* MOBILE VIEWING */
@media (max-width: 450px) {
    .pattern-cards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pattern-card {
        width: 90%;
        margin: 1rem;
    }
    .pattern-card > p {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }
}