.pattern-cards-container {
    margin: 3rem;
}
.pattern-card {
    width: 40%;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 1px 1px 15px 2px black;
    text-align: center;
}

.pattern-card > img {
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    border: 2px solid rgb(163, 199, 163);
}